*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F2F3FB;
    color: #6A6E6F;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz {
    width: 90%;
    max-width: 80rem;
    min-height: 60rem;
    background: white;
    position: relative;
}

.quiz-top {
    color: white;
    padding: 6rem;
    background: linear-gradient(to right, #5CCDE5, rgba(92,205,229, .8));
    
}

.results {
    display: flex;
}

.result {
    margin-right: 3rem;
    font-size: 1.8rem;
}

.result i {
    font-size: 2.4rem;
}

.result-num {
    font-size: 2.2rem;
    font-weight: 500;
}


.quiz-content {
    width: calc(100% - 12rem);
    height: 70%;
    background: white;
    box-shadow: 0 0 .5rem rgba(0,0,0, .2);
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 5rem 4rem;
}

.question {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
}


ul {
    list-style: none;
    margin-bottom: 3rem;
}

ul li {
    margin-bottom: 1rem;
    padding: 0 2rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: background-color 250ms linear, color 250ms linear;
}

ul li:hover,
.selected {
    background: #5CCDE5;
    color: white;
}

ul li span {
    font-size: 2rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
    font-weight: 600;
}



.answer {
    display: inline-block;
    padding: 1rem;
    width: 90%;
    height: 100%;
    font-size: 1.8rem;
    cursor: pointer;

}

.btn {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    background: #5CCDE5;
    text-transform: uppercase;
    padding: 1.5rem 2.5rem;
    border-radius: .5rem;
    box-shadow: 0 0 0 rgba(0,0,0, 0);
    transition: transform 250ms ease-in-out, box-shadow 250ms linear;
}

.btn:hover {
    transform: scaleX(1.05);
    box-shadow: 0 .2rem 1rem rgba(0,0,0, .2);
}